# Unity3D .gitignore file.
.DS_Store
Quantum/Library/AssetImportState
Quantum/Library/AssetServerCacheV3
Quantum/Library/FailedAssetImports.txt
Quantum/Library/ScriptAssemblies
Quantum/Library/ScriptMapper
Quantum/Library/assetDatabase3
Quantum/Library/cache
Quantum/Library/expandedItems
Quantum/Library/metadata
Quantum/Library/previews
Quantum/Library/guidmapper
Quantum/Builds
Quantum/Temp
*.csproj
*.pidb
*.sln
